body {
	background-color: #A4036F;
}

#webpageArea {
	position: relative;
	background-color: #EEFFFF;
	margin-top: -2vh;
	margin-left: 5vw;
	margin-bottom: -2vh;
	height: fit-content;
	min-height: 88.25vh;
	width: 90vw;
	padding-bottom: 3vh;
}

#adminArea {
	position: relative;
	width: 82vw;
	height: 60vh;
	margin-top: 10vh;
	margin-left: 3.5vw;
	font-family: sans-serif;
}

#adminArea h2 {
	color: #111133;
	font-family: sans-serif;
	margin-left: 1vw;
	font-size: 3.5vw;
	color: #111133;
}

#adminArea #adminOptions {
	position: absolute;
	width: 15vw;
	background-color: #7796CB;
	font-family: sans-serif;
	color: #EEFFFF;
	text-decoration: none;
	margin: 0vh 1vw;
}

#adminArea #adminOptions h3 {
	font-size: 1.2vw;
	margin-top: 1.5vh;
	margin-left: 1.5vw;
}

#adminArea #adminOptions ul {
	list-style-type: none;
}

#adminArea #adminOptions li {
	font-size: 1vw;
	margin: 2vh 1vw;
}

#adminArea #adminOptions a {
	text-decoration: none;
	color: #EEFFFF;
}

#categoryData {
	width: 65vw;
	margin-left: 17vw;
}

#categoryData input {
	width: 30vw;
	height: 5vh;
	font-family: sans-serif;
	font-size: 1.5vw;
	margin-left: 1.5vw;
	margin-bottom: 3vh;
}

#categoryData select {
	width: 64.2vw;
	height: 7vh;
	font-family: sans-serif;
	font-size: 1.8vw;
	line-height: 1.8vw;
	padding-left: 1.5vw;
	margin-left: 0.7vw;
}

#categoryData #confirmChange {
	width: 16vw;
	background-color: #00FFFF;
}

#categoryData #confirmDelete {
	color: #EEFFFF;
	margin-left: 30.5vw;
	width: 16vw;
	background-color: #A4036F;
}

#footerArea {
	position: absolute;
	width: 100%;
	height: 10vh;
	bottom: -10vh;
	background-color: #111133;
}

#footerArea h2 {
	position: relative;
	font-family: sans-serif;
	color: #EEFFFF;
	font-size: 1.5vw;
	margin: 0;
	top: 4vh;
	left: 3vw;
}
