body {
	background-color: #A4036F;
}

#webpageArea {
	position: relative;
	background-color: #EEFFFF;
	margin-top: -2vh;
	margin-left: 5vw;
	margin-bottom: -2vh;
	height: fit-content;
	min-height: 88.25vh;
	width: 90vw;
	padding-bottom: 3vh;
}

#clientArea {
	position: relative;
	width: 82vw;
	height: 60vh;
	margin-top: 10vh;
	margin-left: 3.5vw;
	font-family: sans-serif;
}

#clientArea h2 {
	color: #111133;
	font-family: sans-serif;
	margin-left: 1vw;
	font-size: 3.5vw;
	color: #111133;
}

#clientArea #clientOptions {
	position: absolute;
	width: 15vw;
	background-color: #7796CB;
	font-family: sans-serif;
	color: #EEFFFF;
	text-decoration: none;
	margin: 0vh 1vw;
}

#clientArea #clientOptions h3 {
	font-size: 1.25vw;
	margin-top: 1.5vh;
	margin-left: 2vw;
}

#clientArea #clientOptions ul {
	list-style-type: none;
}

#clientArea #clientOptions li {
	font-size: 1vw;
	margin: 2vh 1vw;
}

#clientArea #clientOptions a {
	text-decoration: none;
	color: #EEFFFF;
}

#clientData {
	width: 65vw;
	margin-left: 17vw;
}

#clientData p {
	margin-left: 1.5vw;
	font-family: sans-serif;
	font-size: 1.5vw;
	line-height: 2vw;
}

#clientData input {
	width: 30vw;
	height: 5vh;
	font-family: sans-serif;
	font-size: 1.5vw;
	margin-left: 1.5vw;
	margin-bottom: 3vh;
}

#clientData #address {
	width: 62.2vw;
}

#clientData #confirmDelete {
	width: 15vw;
	height: 5vh;
	font-size: 2vw;
	line-height: 0.8vw;
	margin-top: -2.2vh;
	padding: 0;
	color: #EEFFFF;
	background-color: #A4036F;
}

#footerArea {
	position: absolute;
	width: 100%;
	height: 10vh;
	bottom: -10vh;
	background-color: #111133;
}

#footerArea h2 {
	position: relative;
	font-family: sans-serif;
	color: #EEFFFF;
	font-size: 1.5vw;
	margin: 0;
	top: 4vh;
	left: 3vw;
}
